<div style="justify-content: space-around; display: flex;">
    <div style="width: 50%;">
        <p-card class="p-4">
            <ng-template pTemplate="content">
                <ng-container>
                    <div>
                        <form [formGroup]="this.loginForm">
                            <div class="grid fadein">
                                <div class="col-12">
                                    <div class="w-full inline-flex mb-2">
                                        <i class="pi pi-user fg-primary mx-2 my-auto"></i>
                                        <span class="p-input-icon-right w-full">
                                            <i id="required-icon" class="pi pi-asterisk"></i>
                                            <input
                                              pInputText
                                              id="api-key-input"
                                              formControlName="apiKey"
                                              class="w-full input-round"
                                              type="text"
                                              placeholder="API Key">
                                        </span>
                                    </div>
                                  <small id="api-key-help" class="text-muted">{{ formErrorMessage }}</small>
                                </div>
                                <div class="col-12" style="text-align: center;">
                                    <button
                                      pRipple
                                      pButton
                                      id="next-btn"
                                      class="p-button-primary p-button p-button-rounded"
                                      type="button"
                                      [disabled]="loginForm.invalid"
                                      [pTooltip]="loginForm.invalid ? 'Die Eingabe eines gültigen API Keys ist zuvor notwendig' : ''"
                                      (click)="onContinue()"
                                      (keypress)="onContinue()">
                                      Weiter
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-container>
            </ng-template>
        </p-card>
    </div>
</div>
