<p-card [header]="'Pegellieferanten'" class="p-4">
    <ng-template pTemplate="header">
      <div class="card flex justify-content-end">
        
      
        <p-selectButton [options]="gfg2" optionLabel="label" optionValue="1" (click)="changeDisplay(1)"></p-selectButton>
        <p-selectButton [options]="gfg" optionLabel="label" optionValue="2" (click)="changeDisplay(2)"></p-selectButton>
      </div>
    </ng-template>
  
   
    <ng-container *ngIf="display === 2; else table"  >
     
      <div class="card">
        <ng-template #grid pTemplate="gridItem"  ngFor let-entry [ngForOf]="supplier">
          
            <div style="cursor: pointer" (click)="navigateToDetail(entry.id)">
                <div class="p-4 border-1 surface-border surface-card border-round">
                  <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                    <span class="flex align-items-center gap-2">Letzter Wert {{ entry.lastValue | number:'1.2-2' }}</span>
                    {{ entry.lastValueFrom | date: 'yyyy-MM-dd hh:mm' }}
                  </div>
                  <div class="flex flex-column align-items-center gap-3 py-5">
                    <div class="text-2xl font-bold">{{ entry.stationName }}</div>
                  </div>
                  <div class="flex align-items-center justify-content-between">
                    <span class="text-2xl font-semibold">RNW {{ entry.rnw | number: '1.2-2' }}</span>
                    <span class="text-2xl font-semibold">HSW {{ entry.hsw | number: '1.2-2' }}</span>
                  </div>
                </div>
            
              </div>
          
           
        </ng-template>
        
       
        </div> 
    </ng-container>
    <div class="pagination">
    <div class="card flex justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="50" [rowsPerPageOptions]="[10, 20, 30]"  [showFirstLastIcon]="true"  [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}"></p-paginator>
    </div>
  </div>
    <ng-template #table >
      <p-table [value]="supplier" responsiveLayout="scroll" [filterDelay]="0"
       >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="stationName">
                Pegellieferant
                <p-sortIcon field="stationName"></p-sortIcon>
              
            </th>
            <th style="text-align: right;" pSortableColumn="lastValue">
                Letzter Wert
                <p-sortIcon field="lastValue"></p-sortIcon>
              
            </th>
            <th style="text-align: right;" pSortableColumn="rnw">
               RNW
                <p-sortIcon field="rnw"></p-sortIcon>
            </th>
            <th style="text-align: right;" pSortableColumn="hsw">
                HSW
                <p-sortIcon field="hsw"></p-sortIcon>
            </th>
            <th pSortableColumn="lastValueFrom">
                Letzter Wert von
                <p-sortIcon field="lastValueFrom"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entry>
          <tr style="cursor: pointer" (click)="navigateToDetail(entry.id)">
            <td>{{ entry.stationName }}</td>
            <td style="text-align: right;">{{ entry.lastValue | number: '1.2-2' }}</td>
            <td style="text-align: right;">{{ entry.rnw | number: '1.2-2' }}</td>
            <td style="text-align: right;">{{ entry.hsw | number: '1.2-2' }}</td>
            <td>{{ entry.lastValueFrom | date: 'yyyy-MM-dd hh:mm' }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" style="text-align: center;">Keine Pegellieferanten vorhanden</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-card>
  