<p-card [header]="'Pegellieferanten'" styleClass="m-auto fadeinleft animation-duration-200" class="p-4">
    <p-table [value]="supplier" dataKey="id" styleClass="p-datatable-customers fadeinleft animation-duration-200"
        [rowHover]="true" [rows]="25" responsiveLayout="scroll" [filterDelay]="0">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Pegellieferant
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Letzter Wert
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        RNW
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        HSW
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Letzter Wert von
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entry>
            <tr style="cursor: pointer" (click)="navigateToDetail(entry.id)">
                <td>{{ entry.stationNameShort }}</td>
                <td>
                    {{ entry.lastValue | number : '1.2-2' }}
                    <!-- <div style="display: flex; align-content: center;">
                        <span class="mr-2">{{ entry.lastValue | number : '1.2-2' }}</span>
                        <span style="width: 70%">
                            <p-progressBar [value]="entry.indicatorValue"></p-progressBar>
                        </span>
                    </div> -->
                </td>
                <td>{{ entry.rnw | number : '1.2-2' }}</td>
                <td>{{ entry.hsw | number : '1.2-2' }}</td>
                <td>{{ entry.lastValueFrom | date: 'yyyy-MM-dd hh:mm' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" [style]="'text-align: center'">Keine Pegellieferanten vorhanden</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>