/* You can add global styles to this file, and also import other style files */
@import "./style/base-theme.scss";
@import "./style/theme.scss";
@import "./style/highcharts.scss";

* {
    font-family: $font-family;
}

body {
    margin: 0px;
}

.p-button {
  border-radius: $button-radius !important;
}

.p-card {
  border-radius: $card-radius !important;
}
